@import url("https://fonts.googleapis.com/css?family=Heebo:100,200,400,600,600");

.container#main {
  height: 100vh;
}
body, h1, input {
  font-family: 'Heebo', sans-serif;
}


#main h1 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  border-style: solid;
}

th {
  padding-right: 20px;
}

tr#head {
  border-bottom: solid 1pt black;
}

tr {
  padding-bottom: 10px;
}
